<!DOCTYPE html>
<html lang="uk">
<head>
    <style>
        body {
            color: black;
            font-family: Arial, sans-serif;
        }
        p, b {
            color: black;
        }
        a.button {
            text-decoration: none;
            color: black;
        }
        .button {
            padding: 10px 20px;
            border: 1px solid black;
            border-radius: 5px;
            display: inline-block;
            margin: 5px;
        }
        .button:hover {
            background-color: lightgray;
        }
        .image-container {
            margin-top: 10px;
        }
        .image-container img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            display: block;
            margin-top: 5px;
        }
        .banner img {
            max-width: 500px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div>
        <img src="image_path" alt="CRAFTMERGE"/>
        <p>Доброго дня, {{name}}</p>
        <p>Дякуємо за реєстацію на сайті CraftMerge.</p>
        <p>Підтверьдте пошту, за посиланням.</p>
        <div style="margin: 20px 0;">
            <a href="{{link}}" class="button button-approve">ПІДТВЕРДИТИ</a>
        </div>
        <p>З повагою,</p>
        <p>Команда CraftMerge</p>
    </div>
</body>
</html>